#container {
    /* width: 640px;
    height: 640px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-around; */
   
}


.grid {
    width: 40px;
    height: 40px;
    background-color: red;
}
